.shopTitle {
  margin-top: 100px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 32px;
  text-transform: uppercase;
}

.products {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.product {
  /* border: 1px solid grey;
  border-radius: 15px; */
  width: 300px;
  height: 425px;
  margin: 50px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.product .image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.product img {
  width: 250px;
}

.product .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product .description {
  text-align: center;
  margin-bottom: 10px;
}

.product:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
}

.addToCartBttn {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
}

.addToCartBttn:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}